.header {
    /* justify-content: center;
    font-size: large;
    background-color: lightblue; */
    display: flex;
    align-items: center;
    background-color: rgb(238, 238, 238);
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

.header .logo {
    max-height: 70px ;
  
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group a {
    font-size: 40px;
    margin-left: 750px;
}



