<div>
  <h1 class="alerta alert" id="alerta">{{ alerta }}</h1>

  <table>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Departamento</th>
      <th>Endereço</th>
      <th>Email</th>
    </tr>

    <tr *ngFor="let registro of vetPessoas">
      <td>{{ registro.id }}</td>
      <ng-container *ngIf="!registro.editando; else elseTemplate">
        <td>{{ registro.nome }}</td>
        <td>{{ registro.departamento }}</td>
        <td>{{ registro.endereco }}</td>
        <td>{{ registro.email }}</td>
      </ng-container>

      <ng-template #elseTemplate>
        <td><input type="text" [(ngModel)]="registro.nome" /></td>
        <td><input type="text" [(ngModel)]="registro.departamento" /></td>
        <td><input type="text" [(ngModel)]="registro.endereco" /></td>
        <td><input type="text" [(ngModel)]="registro.email" /></td>
      </ng-template>

      <td>
        <ng-container>
          <button class="editar" (click)="podeEditarRegistro(registro)">
            Editar
          </button>
          <br/>
        </ng-container>

        <button class="salvar" (click)="atualizarRegistro(registro)">Salvar</button>
        <br/>

        <button class="excluir" (click)="removerRegistro(registro.id)">
          Excluir
        </button>
      </td>
    </tr>
  </table>
</div>
